  <section>
         <div class="headerlayout">
            <a href="/homepage"><img class="imagelogoheader" src="/images/logofood.jpg" width="70px" height="70px"></a>
         </div>
      </section>
      
<section class="backgroundfoodpreferences">
<form  class="formfoodpreferences" action="/foodpreferences" type="text" method="POST" multiple>
    <input type="checkbox" class="checkbox" id="omnivorous" name="omnivorous" value="omnivorous">
    <label class="textlabel" for="omnivorous">omnivorous</label>
<br>
    <input type="checkbox" class="checkbox" id="vegetarian" name="vegetarian" value="vegetarian">
    <label class="textlabel" for="vegetarian">vegetarian</label>
<br>
    <input type="checkbox" class="checkbox" id="vegan" name="vegan" value="vegan">
    <label class="textlabel"  for="vegan">vegan</label>
<br>
    <input type="checkbox" class="checkbox" id="no carbs" name="no carbs" value="no carbs">
    <label class="textlabel" for="no carbs">no carbs</label>
<br>
    <input type="checkbox" class="checkbox" id="gluten free" name="gluten free" value="gluten free">
    <label class="textlabel" for="gluten free">gluten free</label>

<br>
    <input type="checkbox" class="checkbox" id="pescatarian" name="pescatarian" value="pescatarian">
    <label class="textlabel" for="pescatarian">pescatarian</label>
<br>
    <input type="checkbox" class="checkbox" id="sweets" name="sweets" value="sweets">
    <label class="textlabel" for="sweets"> sweets</label>
<br>
    <input type="checkbox" class="checkbox" id="drinks" name="drinks" value="drinks">
    <label class="textlabel" for="drinks">drinks</label>
<br>
    <input type="checkbox" class="checkbox" id="mediterranean" name="mediterranean" value="mediterranean">
    <label class="textlabel" for="mediterranean">mediterranean</label>
<br>
    <input type="checkbox" class="checkbox" id="asian" name="asian" value="asian">
    <label class="textlabel" for="asian">asian</label>
<br>
    <input type="checkbox" id="african" name="african" value="african">
    <label class="textlabel" for="african">african</label>
<br>
    <input type="checkbox" class="checkbox" id="latinoamerican" name="latinoamerican" value="latinoamerican">
    <label class="textlabel" for="latinoamerican">latinoamerican</label>
<br>
    <div class="print-value">
        <p class="textPlabel" id="valueList"> This are you're favorites</p>
    </div>
<br>
    <button class="nextbuttonfoodpreferences" type="submit">Next</button>
</form></section>

 <footer>

            <a class="footerProfile1" href="/profile"> <button class="footerProfile1"> profile </button> </a>
            <br>
            <a class="footerSearch" href="/search"> <button class="footerSearch"> search </button> </a>
            
         </footer>
      </div>

<!--
<script>
    let valueList = document.getElementById('valueList')
    let text = '<span> you have selected: </span>'
    let listArray = [];

    let checkboxes = document.querySelectorAll('.checkbox');

    for(let checkbox of checkboxes) {
        checkbox.addEventListener('click', function (){
            if(this.checked == true){
                listArray.push(this.value)
                valueList.innerHTML = text + listArray.join('/')
                console.log(listArray)
            } else {
                listArray = listArray.filter(e => e !== this.value);
                valueLlist.innerHTML = text + listArray.join('/')
                console.log("this is checked", checkboxes)
            }
        })
    }
</script>
-->