<fieldset action="send" mulitple>
      <input type="checkbox" id="omnivorous" name="omnivorous">
      <label for="omnivorous">omnivorous</label>
 
      <input type="checkbox" id="vegatarian" name="vegatarian">
      <label for="vegatarian">vegatarian</label>
  
      <input type="checkbox" id="vegan" name="vegan">
      <label for="vegan">vegan</label>

     
      <input type="checkbox" id="no carbs" name="no carbs">
      <label for="no carbs">no carbs</label>
   

      <input type="checkbox" id="gluten free" name="gluten free">
      <label for="gluten free">gluten free</label>
  
 
      <input type="checkbox" id="pescatarian" name="pescatarian">
      <label for="pescatarian">pescatarian</label>
  

      <input type="checkbox" id="sweets" name="sweets">
      <label for="sweets"> sweets</label>
    
      <input type="checkbox" id="drinks" name="drinks">
      <label for="drinks">drinks</label>
 

      <input type="checkbox" id="mediterranean" name="mediterranean">
      <label for="mediterranean">mediterranean</label>
  

      <input type="checkbox" id="asian" name="asian">
      <label for="asian">asian</label>


      <input type="checkbox" id="african" name="african">
      <label for="african">african</label>
   
      <input type="checkbox" id="latinomerican" name="latinomerican">
      <label for="latinomerican">latinomerican</label>

</fieldset>

<button type="submit">
    <a href="/profile">Next</a>
</button>