  <section>
         <div class="headerlayout">
            <a href="/homepage"><img class="imagelogoheader" src="/images/logofood.jpg" width="70px" height="70px"></a>
         </div>
      </section>
      
<section class="backgroundlogin">
  <form class="loginform1" action="/auth/login" method='POST'>

    <label class="textlabel">Username:</label>
    <input type="text" name="username" required />
<br>
<br>
    <label class="textlabel">Email: </label>
    <input type="email" name="email" required />
<br>
<br>
    <label class="textlabel">Password:</label>
    <input type="password" name="password" required />
<br>
<br>
    <button class="loginbutton" type="submit">Log in</button>
  </form>
</section>

 <footer>

            <a class="footerProfile1" href="/profile"> <button class="footerProfile1"> profile </button> </a>
            <br>
            <a class="footerSearch" href="/search"> <button class="footerSearch"> search </button> </a>
            
         </footer>
      </div>