<div class="loginForm">
  <form class="loginform1" action="/auth/login" method='POST'>

    <label class="textlabel">Username:</label>
    <input type="text" name="username" required />
<br>
<br>
    <label class="textlabel">Email: </label>
    <input type="email" name="email" required />
<br>
<br>
    <label class="textlabel">Password:</label>
    <input type="password" name="password" required />
<br>
<br>
    <button class="loginbutton" type="submit">Log in</button>
  </form>
</div>