<div id="form">
  <h2>Signup</h2>
  <form action="/auth/signup" method="POST">
    <br>
    <label> Username
      <input type="text" name="username" placeholder="username" />
    </label>
    <br>
    <label> Email
      <input type="email" name="email" placeholder="my email adress" />
    </label>
    <br>
    <label> Password
      <input type="password" name="password" placeholder="********" />
    </label>
    <br>


    <!---
<select name="foodPreferences" id="foodPreferences" multiple>
  <option value="omnivorous">omnivorous</option>
  <option value="vegetarian">vegetarian</option>
  <option value="vegan">vegan</option>
  <option value="drinks">drinks</option>
   <option value="mediterranean">mediterranean</option>
  <option value="african">African</option>
  <option value="no carbs">No carbs</option>
  <option value="gluten free">gluten free</option>
  <option value="Pescatarian"> Pescatarian</option>
  <option value="Sweets"> Sweets </option>
  <option value="latinoamerican"> latinoamerican</option>
  <option value="asian"> asian</option>
</select>

<fieldset action="send" mulitple>
      <input type="checkbox" id="omnivorous" name="omnivorous">
      <label for="omnivorous">omnivorous</label>
 
      <input type="checkbox" id="vegetarian" name="vegetarian">
      <label for="vegetarian">vegetarian</label>
  
      <input type="checkbox" id="vegan" name="vegan">
      <label for="vegan">vegan</label>

     
      <input type="checkbox" id="no carbs" name="no carbs">
      <label for="no carbs">no carbs</label>
   

      <input type="checkbox" id="gluten free" name="gluten free">
      <label for="gluten free">gluten free</label>
  
 
      <input type="checkbox" id="pescatarian" name="pescatarian">
      <label for="pescatarian">pescatarian</label>
  

      <input type="checkbox" id="sweets" name="sweets">
      <label for="sweets"> sweets</label>
    
      <input type="checkbox" id="drinks" name="drinks">
      <label for="drinks">drinks</label>
 

      <input type="checkbox" id="mediterranean" name="mediterranean">
      <label for="mediterranean">mediterranean</label>
  

      <input type="checkbox" id="asian" name="asian">
      <label for="asian">asian</label>


      <input type="checkbox" id="african" name="african">
      <label for="african">african</label>
   
      <input type="checkbox" id="latinoamerican" name="latinoamerican">
      <label for="latinoamerican">latinoamerican</label>
  

</fieldset>
-->

    <button class="signupbutton" type="submit">Create account</button>

  </form>

  {{#if errorMessage}}
  <p>There was a problem: {{errorMessage}}</p>
  {{/if}}

</div>