  <section>
         <div class="headerlayout">
            <a href="/homepage"><img class="imagelogoheader" src="/images/logofood.jpg" width="70px" height="70px"></a>
         </div>
      </section>
<section class="backgroundlogin1">
  <form class="loginform1" action="/auth/signup" method="POST">
    <br>
    <label class="textlabel"> Username
      <input type="text" name="username" placeholder="username" />
    </label>
    <br>
     <br>
    <label class="textlabel"> Email
      <input type="email" name="email" placeholder="my email adress" />
    </label>
    <br>
    <br>
    <label class="textlabel"> Password
      <input type="password" name="password" placeholder="********" />
    </label>
    <br>
    <br>

    <button class="signupbutton" type="submit">Create account</button>

  </form>

  {{#if errorMessage}}
  <p>There was a problem: {{errorMessage}}</p>
  {{/if}}

</section>

 <footer>

            <a class="footerProfile1" href="/profile"> <button class="footerProfile1"> profile </button> </a>
            <br>
            <a class="footerSearch" href="/search"> <button class="footerSearch"> search </button> </a>
            
         </footer>
      </div>