<section class="backgroundlogin1">
  <form class="loginform1" action="/auth/signup" method="POST">
    <br>
    <label class="textlabel"> Username
      <input type="text" name="username" placeholder="username" />
    </label>
    <br>
     <br>
    <label class="textlabel"> Email
      <input type="email" name="email" placeholder="my email adress" />
    </label>
    <br>
    <br>
    <label class="textlabel"> Password
      <input type="password" name="password" placeholder="********" />
    </label>
    <br>
    <br>

    <button class="signupbutton" type="submit">Create account</button>

  </form>

  {{#if errorMessage}}
  <p>There was a problem: {{errorMessage}}</p>
  {{/if}}

</section>