<div id="form">
  <h2>Signup</h2>
  <form action="/auth/signup" method="POST">
    <br>
    <label> Username
      <input type="text" name="username" placeholder="username" />
    </label>
    <br>
    <label> Email
      <input type="email" name="email" placeholder="my email adress" />
    </label>
    <br>
    <label> Password
      <input type="password" name="password" placeholder="********" />
    </label>
    <br>

    <button class="signupbutton" type="submit">Create account</button>

  </form>

  {{#if errorMessage}}
  <p>There was a problem: {{errorMessage}}</p>
  {{/if}}

</div>