<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{title}}</title>

   <!-- google fonts-->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link
      href="https://fonts.googleapis.com/css2?family=Abel&family=Amatic+SC:wght@700&family=Goldman:wght@400;700&family=Nunito+Sans&family=Oswald&family=Poppins:wght@300;500;600&family=Press+Start+2P&family=Raleway:wght@100;500&family=Sorts+Mill+Goudy&family=Staatliches&display=swap"
      rel="stylesheet">

   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body class="{{section}}">
   <div id="text">
      <section>
         <div class="header">
            <a href="/profile"><img src="/images/logofood.jpg" width="150px" height="150px"></a>
         </div>
      </section>

      <main>
         {{{body}}}
      </main>

      <section>
         <a href="/search"> <button class="headerSearch"> search </button> </a>

         <a class="headerimagelogo" href="/"> <img src="/images/logofood.jpg" width="100" height="100"></a>
      </section>
   </div>

   <script src="/js/script.js"></script>
</body>

</html>