@import url('components/form.css');
@import url('components/header.css');
@import url('components/landing.css');
body {
    margin: 0;
    padding: 0;
}

/* Text headers*/
h1 {font-family: 'Staatliches';
    color: black ;}
.h2 {font-family:'Staatliches';
    color: black; }
h3 {font-family:'Staatliches';
color: black;  }
h4 {font-family:'Staatliches';
color: black; }

p {font-family: 'Sorts Mill Goudy';
    color: black;}

/*headerlayout*/
.headerlayout{
    background-color: #019992;
    height: 70px;
    margin-bottom: 20px;
}




/*footer*/

footer {
    background-color: #019992;
    height: 100px;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: stretch;
	align-content: stretch;
}

.footerimagelogo {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: baseline;
	align-content: flex-end;
    position:fixed;
    right: 20px;

}


.footerSearch { 
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
    padding: 10px 60px;
    border-radius: 2px;
    font-family: 'Staatliches';
    border: none;
    text-decoration: none;
    position: fixed;
    

}

.footerSearch:hover {
    background-color: #FFB001;
    color: white;
    font-family: 'Staatliches';

}


.footerProfile1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 60px;
    border-radius: 2px;
    text-decoration: none;
    border-radius: 2px;
    font-family: 'Staatliches';
    border: none; 

}

/*button profile*/
/* edit recipe hbs*/
.deleteButton {
    padding: 10px 60px;
    border-radius: 2px;
    text-decoration: none;
    border-radius: 2px;
    font-family: 'Staatliches';
    border: none; 
}

.editButton {
    padding: 10px 60px;
    border-radius: 2px;
    text-decoration: none;
    border-radius: 2px;
    font-family: 'Staatliches';
    border: none; 
}

.submitButton {
    padding: 10px 60px;
    border-radius: 2px;
    text-decoration: none;
    border-radius: 2px;
    font-family: 'Staatliches';
    border: none; 
}

.likeButton {
    padding: 10px 60px;
    border-radius: 2px;
    text-decoration: none;
    border-radius: 2px;
    font-family: 'Staatliches';
    border: none; 
}