@import url('components/form.css');
@import url('components/header.css');
@import url('components/landing.css');
body {
    margin: 0;
    padding: 0;
}

/* Text */

h1 {
    font-family: 'Staatliches';
}

p {
        font-family: 'Sorts Mill Goudy';    
}

