@import url('components/form.css');
@import url('components/images.css');
@import url('components/landing.css');

body {
    margin: 0;
    padding: 0;
    background-color: #019992;

  
   
}

/* Text headers*/
h1 {
    font-family: 'Staatliches';
    color: white;
}

h2 {
    font-family: 'Staatliches';
    color: white;
    text-shadow: 2px 2px 8px black  ;
    
    
}


h4 {
    font-family: 'Staatliches';
    color: white;
}


a {
    text-decoration: none;
    color: black; 
}

/*headerlayout*/
.headerlayout {
    background-color: #019992;
    height: 70px;
    position: fixed;
    width: 100%;
    top:0px;
}

/*footer*/

footer {
    background-color: #019992;
    position: fixed;
    bottom: 0px; 
    height: 110px; 
    width: 100%;
   
    
}

.footerimagelogo {
    position: fixed;
    bottom: 0px;
    right: 0px;  
}


.footerSearch {
    padding: 10px 60px;
    border-radius: 2px;
    font-family: 'Staatliches';
    border: none;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 120px;


}

.footerSearch:hover {
    background-color: #FFB001;
    color: white;
    font-family: 'Staatliches';
    position: fixed;
    bottom: 10px;
    right: 120px;

}


.footerProfile1 {
    position: fixed;
    bottom: 60px;
    right: 120px;
    padding: 10px 60px;
    border-radius: 2px;
    text-decoration: none;
    border-radius: 2px;
    font-family: 'Staatliches';
    border: none;

}

/*button profile*/
/* edit recipe hbs*/
.deleteButton {
    padding: 10px 60px;
    border-radius: 2px;
    text-decoration: none;
    border-radius: 2px;
    font-family: 'Staatliches';
    border: none;
    color:black;
}

.deleteButton:hover {
    background-color: #FFB001;
    color: white;
    font-family: 'Staatliches';

}

.editButton {
    padding: 10px 60px;
    border-radius: 2px;
    text-decoration: none;
    border-radius: 2px;
    font-family: 'Staatliches';
    border: none;
    color: black ;
}

.editButton:hover {
    background-color: #FFB001;
    color: white;
    font-family: 'Staatliches';

}

.submitButton {
    padding: 10px 30px;
    border-radius: 2px;
    text-decoration: none;
    border-radius: 2px;
    font-family: 'Staatliches';
    border: none;
    color: black ;
}

.submitButton:hover {
    background-color: #FFB001;
    color: white;
    font-family: 'Staatliches';

}

.likeButton {
    padding: 10px 30px;
    border-radius:  2px; 
    text-decoration: none;
    border-radius: 2px;
    font-family: 'Staatliches';
    border: none;
    color: black ;
  
}

.likeButton:hover {
   background-color: #FB475E;
    color: white;
    font-family: 'Staatliches';

}

/* homepage */



.createbuttonhomepage {
    padding: 10px 60px;
    border-radius: 2px;
    text-decoration: none;
    border-radius: 2px;
    font-family: 'Staatliches';
    border: none;
    color: black;
    display: flex;
    align-content: center;
    margin-left: 20px;

}

.createbuttonhomepage:hover {
    background-color: #FFB001;
    color: white;
    font-family: 'Staatliches';
    text-decoration: none;
}

.choosefileButton {
    padding: 10px 60px;
    border-radius: 2px;
    text-decoration: none;
    border-radius: 2px;
    font-family: 'Staatliches';
    border: none;
    color: black;
}

.createbuttonrecipe {
    padding: 10px 60px;
    border-radius: 2px;
    text-decoration: none;
    border-radius: 2px;
    font-family: 'Staatliches';
    border: none;
    color: black;
}

.createbuttonrecipe:hover {
    background-color: #FFB001;
    color: white;
    font-family: 'Staatliches';
    text-decoration: none;

}

.nextbuttonfoodpreferences {
    padding: 10px 60px;
    border-radius: 2px;
    text-decoration: none;
    border-radius: 2px;
    font-family: 'Staatliches';
    border: none;
    color: black;
}

.nextbuttonfoodpreferences:hover {
    background-color: #019992;
    color: white;
    font-family: 'Staatliches';
    text-decoration: none;
}

.favouritesbuttonprofile {
    padding: 10px 60px;
    border-radius: 2px;
    text-decoration: none;
    border-radius: 2px;
    font-family: 'Staatliches';
    border: none;
    color: black;
}

.favouritesbuttonprofile:hover {
    background-color: #FFB001;
    color: white;
    font-family: 'Staatliches';
    text-decoration: none;
}


.editprofilebuttonprofile {
    padding: 10px 60px;
    border-radius: 2px;
    text-decoration: none;
    border-radius: 2px;
    font-family: 'Staatliches';
    border: none;
    color: black ;
}

.editprofilebuttonprofile:hover {
    background-color: #FFB001;
    color: white;
    font-family: 'Staatliches';
    text-decoration: none;
}

.createrecipeprofile {
    padding: 10px 60px;
    border-radius: 2px;
    text-decoration: none;
    border-radius: 2px;
    font-family: 'Staatliches';
    border: none;
    color: black ;
}

.createrecipeprofile:hover {
    background-color: #FFB001;
    color: white;
    font-family: 'Staatliches';
    text-decoration: none;
}

.logoutbuttonedit {
    padding: 10px 60px;
    border-radius: 2px;
    text-decoration: none;
    border-radius: 2px;
    font-family: 'Staatliches';
    border: none;
    color: black ;
}

.logoutbuttonedit:hover {
    background-color: #FFB001;
    color: white;
    font-family: 'Staatliches';
    text-decoration: none;
}

.confirmbuttonedit {
    padding: 10px 60px;
    border-radius: 2px;
    text-decoration: none;
    border-radius: 2px;
    font-family: 'Staatliches';
    border: none;
    color: black; 
}

.confirmbuttonedit:hover {
    background-color: #FFB001;
    color: white;
    font-family: 'Staatliches';
    text-decoration: none;
}

.singupbutton {
    padding: 10px 60px;
    border-radius: 2px;
    text-decoration: none;
    border-radius: 2px;
    font-family: 'Staatliches';
    border: none;
    color: black; 
}

.signbutton:hover {
    background-color: #FFB001;
    color: white;
    font-family: 'Staatliches';
    text-decoration: none;
}

.loginbutton {
    padding: 10px 60px;
    border-radius: 2px;
    text-decoration: none;
    border-radius: 2px;
    font-family: 'Staatliches';
    border: none;
    color: black;
}

.loginbutton:hover {
    background-color: #FFB001;
    color: white;
    font-family: 'Staatliches';
    text-decoration: none;
}

.signupbutton {
    padding: 10px 60px;
    border-radius: 2px;
    text-decoration: none;
    border-radius: 2px;
    font-family: 'Staatliches';
    border: none;
    color: black;
}

.signupbutton:hover {
    background-color: #FFB001;
    color: white;
    font-family: 'Staatliches';
    text-decoration: none;
}

.confirmbutton {
    padding: 10px 60px;
    border-radius: 2px;
    text-decoration: none;
    border-radius: 2px;
    font-family: 'Staatliches';
    border: none;
    color: black;
}

.confirmbutton:hover {
    background-color: #FFB001;
    color: white;
    font-family: 'Staatliches';
    text-decoration: none;
}

.filterbutton {
    padding: 10px 60px;
    border-radius: 2px;
    text-decoration: none;
    border-radius: 2px;
    font-family: 'Staatliches';
    border: none;
    color: black;
}

.filterbutton:hover {
    background-color: #FFB001;
    color: white;
    font-family: 'Staatliches';
    text-decoration: none;
}

.likebutton {
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 2px;
    font-family: 'Staatliches';
    border: none;
    color: black;

}

.likebutton:hover {
    background-color: #FB475E;
    color: white;
    font-family: 'Staatliches';
    text-decoration: none;
}

/*HOMEPAGE*/
/*TEXT*/

.homepagetexth4 {
    font-family: 'Staatliches';
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 8px black  ;

}

.homepagetexth3 {
    font-family: 'Sorts Mill Goudy';
    font-size: 15px;
    color: white;
}

/*create recipe*/
/*TEXT*/
.createRecipetext {
    font-family: 'Staatliches';
    color: white;
}

/*userprofile*/
/*TEXT*/

.userprofiletextP {
    font-family: 'Sort Mill Goudy';
    color: white;
    overflow-wrap: break-word; 
    inline-size: 250px; 
}


.userprofiletexth2 {
    font-family: 'Staatliches';
    color: white;
}

.emailprofile {
    font-family: 'Staatliches';
    font-size: 15px;
    color: black;
   
}

.emailhrline {
    width: 20vh;
}
/*TEXT*/
/*recipedetails*/

.textrecipedetails {
    font-family: 'Staatliches';
    color: white;
}

.textrecipedetails1 {
    font-family: 'Staatliches';
    color: white;
    font-size: 25px; 
    text-shadow: 2px 2px 8px black  
}
/*TEXT*/
/*userprofile*/

.userprofiletexth2 {
    font-family: 'Staatliches';
    color: white;
}

.userprofiletexth3 {
    font-family:'Staatliches' ;
    color: white;
   text-shadow: 2px 2px 8px black  ;
   font-size: 25px;
}

.likepostform {
    margin-top: 200px; 
}

.searchtextlabel{
    font-family: 25px;
}

.hrline {
    color: black ;
}

.differentcolor { 
    background-color: #30908b ;
    padding-left: 10px;
  
}

.buttonseditdelete {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content: space-evenly;
	align-items: center;
	align-content: space-between;
}

.formrecipedetails {
    margin-left: 10px;
}

textarea {
    width: 300px;
    height: 100px;
  }