/*text foodpreferences*/

.textlabel {
  font-family: "Sorts Mill Goudy";
}

.textPlabel {
  font-family: "Staatliches";
}
.sectionfoodpreferences {
  background-image: url("/../../foto12.avif");
}

/*login*/
.loginform1 {

    padding: 20px; 
    background-color: #FFB001;
    opacity: 0.9;
}
/*create recipe*/
.backgroundlogin3 {
    background-image: url("../../images/foto11.avif");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px; 
    height: 450px;
    padding-top:180px ;
    display: flex;
    align-items: center;
    align-content: center;

}

.loginform3 {
    background-color: #FFB001;
    opacity: 0.9;
    padding:20px; 

   
}

.backgroundlogin {
    background-image: url("../../images/foto12.avif");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px; 
    height: 450px;
    padding-top:180px ;
    display: flex;
    align-items: center;
    align-content: center;

}


/*signup*/

.loginform6 {
  margin-top: 50px;
  padding-right: 5px;
  padding-left: 15px;
  background-color: #ffb001;
  opacity: 0.9;
  align-items: center;
  align-content: center;
}

.backgroundlogin1 {
    background-image: url("../../images/foto10.avif");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px; 
    height: 450px;
    padding-top:180px ;
    display: flex;
    align-items: center;
    align-content: center;


/*foodpreferences*/
.formfoodpreferences {

    background-color: #FFB001;
    opacity: 0.9;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px; 
    
}
.backgroundfoodpreferences {

    background-image: url("../../images/foto1.avif");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px; 
    padding-top:180px ;
    display: flex;
    align-items: center;
    align-content: center;
   
} 


/*userprofile*/

.userprofileform {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.buttonsprofile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.recipeuserprofile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 200px;
}

.recipedetails {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 200px;
}

/* recipe details */
.recipedetailsingredients {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: justify;
  text-justify: inter-word;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
}
