#text .header{background-color:  #019992; width:100%;}

/* buttons */

.headerLogin {
    width: 100%;
    padding: 20px 60px;
    border-radius: 2px;
    font-family: 'Staatliches';
    border: #019992;
  
}

.headerLogin:hover {
    background-color: #FFB001;
    color: white;
    font-family: 'Staatliches';
    
}

.headerSignUp:hover {
    background-color: #FFB001;
    color: white;
    font-family: 'Staatliches';
    
}
.headerSignUp  {
    width: 100%;
    padding: 20px 60px;
    border-radius: 2px;
    font-family: 'Staatliches';
    border: #019992;
  
}

.headerbuttons {
    align-items: center;
 

}

.headerSearch {
    margin-top: 20px;
    margin-bottom: 20px ;
    width: 100%;
    padding: 20px 60px;
    border-radius: 2px;
    font-family: 'Staatliches';
    border: #019992;
    text-decoration: none;
    color: black ;
}

.headerSearch:hover {
    margin-top: 20px;
    margin-bottom: 20px ;
        background-color: #FFB001;
        color: white;
        font-family: 'Staatliches';
        text-decoration: none;
}

.headerimagelogo {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-end;
	align-content: flex-end;
}