.imagesProfile {
    border-radius: 50%;
    border: 2px solid white ;
    -moz-box-shadow: 0px 6px 5px white;
    -webkit-box-shadow: 0px 6px 5px white;
    box-shadow: 0px 6px 5px white;
    -moz-border-radius:190px;
    -webkit-border-radius:190px;
    object-fit: cover;
    
}

.imagesProfile1 {
    border-radius: 50%;
    border: 2px solid white ;
    -moz-box-shadow: 0px 6px 5px white;
    -webkit-box-shadow: 0px 6px 5px white;
    box-shadow: 0px 6px 5px white;
    -moz-border-radius:190px;
    -webkit-border-radius:190px;
    object-fit: cover;   
}

.imagerecipe {
    border-radius: 2px white ;
    border: 2px solid white;
    -moz-box-shadow: 0px 6px 5px white;
    -webkit-box-shadow: 0px 6px 5px white;
    box-shadow: 0px 6px 5px white ;
    object-fit: cover;
}


.sectionrecipehomepage{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;

}

.sectiontitleownerhomepage{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;

}

.likebuttonprofile {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;

}

.sectionborder {
    background-color: #019992;
}

.breaklinehomepage {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    width: 35vh;
}

hr.breaklinehomepage:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -15px;
    font-size: 2em;
    padding: 0 0.25em;
}

/*liked photos*/

.likedpostform {
    background-color: #019992;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

