  <section>
         <div class="headerlayout1">
            <a href="/homepage"><img class="imagelogoheader" src="/images/logofood.jpg" width="70px" height="70px"></a>
         </div>
      </section>
<div class="bottomdivlikedpost" style="height: 120px"> </div>
{{#each reversedLikes}}
<!--this is  only going to show your liked recipies-->
<div class="likedpostform">
   
<h4 >{{title}}</h4>

<a href="/recipe-details/{{_id}}">
    <img class="imagerecipe" src="{{imageUrl}}" width="200" height="200" alt="{{title}}" />
</a>
</div>

{{/each}}

<div class="bottomdivlikedpost" style="height: 150px"> </div>

  <footer class="footer">

            <a class="footerProfile2" href="/profile"> <button class="footerProfile1"> profile </button> </a>
            <br>
            <a class="footerSearch1" href="/search"> <button class="footerSearch"> search </button> </a>
            
         </footer>