<nav>

<a href="/profile">Profile</a>
<a href="/search">Search</a>
<a href="/homepage">Homepage</a>

</nav>

<h2>This is your liked posts</h2>

{{#each reversedLikes}} <!--this is  only going to show your liked recipies-->

<h3>{{title}}</h3>

<a href="/recipe-details/{{_id}}"> 
    <img src="{{imageUrl}}" width="200" height="200" alt="{{title}}" /> 
</a>

{{/each}}

