
 <h2>This is your liked posts</h2>
{{#each reversedLikes}}
<!--this is  only going to show your liked recipies-->
<div class="likedpostform">
   
<h4 >{{title}}</h4>

<a href="/recipe-details/{{_id}}">
    <img src="{{imageUrl}}" width="200" height="200" alt="{{title}}" />
</a>
</div>

{{/each}}