<nav>

<a href="/profile">Profile</a>
<a href="/search">Search</a>
<a href="/homepage">Homepage</a>

</nav>

<button type="submit">
    <a href="/profile/:id/edit">Edit Profile</a>
</button>

<button type="submit">
    <a href="/liked-post">Favourites</a>
</button>

<button type="submit">
    <a href="/create-recipe">Create recipe</a>
</button>