<nav>

<a href="/profile">Profile</a>
<a href="/search">Search</a>
<a href="/homepage">Homepage</a>

</nav>

<button type="submit">
    <a href="/user-profile/private/edit-profile">Edit Profile</a>
</button>

<button type="submit">
    <a href="/user-profile/liked-post">Favourites</a>
</button>

<button type="submit">
    <a href="/user-profile/private/create-recipe">Create recipe</a>
</button>