
<section class="backgroundlogin3">
<form class="loginform3" action="/private/create-recipe" method="POST" enctype="multipart/form-data">
      <label class="textlabel">
            <input  class="textlabel" type="text" name="title" placeholder="Name of recipe">
      </label>
      <br>
      <br>

      <label class="textlabel">
            <textarea class="textlabel" type="text" rows="5" name="ingredients" placeholder="Ingredients"></textarea>
      </label>
      <br>
   
      <label>
            <textarea class="textlabel" type="text" rows="5" name="instructions" placeholder="Instructions"></textarea>
      </label>

<br>
      <label class="textlabel"   for="category">Category <br>
            <select name="category" id="foodPreferences" multiple>
                  <option class="textlabel" value="omnivorous">Omnivorous</option class="textlabel">
                  <option class="textlabel" value="vegetarian">Vegetarian</option class="textlabel">
                  <option class="textlabel" value="vegan">Vegan</option class="textlabel">
                  <option class="textlabel" value="drinks">Drinks</option class="textlabel">
                  <option class="textlabel" value="mediterranean">Mediterranean</option class="textlabel">
                  <option class="textlabel" value="african">African</option class="textlabel">
                  <option class="textlabel" value="no carbs">No carbs</option class="textlabel">
                  <option class="textlabel" value="gluten free">Gluten free</option class="textlabel">
                  <option class="textlabel" value="pescatarian"> Pescatarian</option class="textlabel">
                  <option class="textlabel" value="sweets"> Sweets </option class="textlabel">
                  <option class="textlabel" value="latinoamerican"> latinoamerican</option class="textlabel">
                  <option class="textlabel" value="asian"> Asian</option class="textlabel">
            </select>
      </label>
      <br>
      <br>

      <label>
            <input type="file" name="imageUrl" />
      </label>
      <br>
      <br>

      <button class="createbuttonrecipe" type="submit">Create</button>
</form>
</section>