<h2 class="createRecipetext">New recipe</h2>
<form action="/private/create-recipe" method="POST" enctype="multipart/form-data">
    <label>Title
        <input type="text" name="title" placeholder="Name of recipe">
    </label>
    <br>

    <label>Ingredients
        <textarea type="text" rows="5" name="ingredients" placeholder="Ingredients"></textarea>
    </label>
    <br>
  
    <label>Instructions
        <textarea type="text" rows="5" name="instructions" placeholder="Instructions"></textarea>
    </label>


    <label for="category">Category <br>
        <select name="category" id="foodPreferences" multiple>
            <option value="omnivorous">Omnivorous</option>
            <option value="vegetarian">Vegetarian</option>
            <option value="vegan">Vegan</option>
            <option value="drinks">Drinks</option>
            <option value="mediterranean">Mediterranean</option>
            <option value="african">African</option>
            <option value="no carbs">No carbs</option>
            <option value="gluten free">Gluten free</option>
            <option value="pescatarian"> Pescatarian</option>
            <option value="sweets"> Sweets </option>
            <option value="latinoamerican"> latinoamerican</option>
            <option value="asian"> Asian</option>
        </select>
    </label>
    <br>

    <label>Image:
        <input type="file" name="imageUrl" />
    </label>

    <button class="createbuttonrecipe" type="submit">Create</button>
</form>