

<form class="loginform6" action="/auth/profile/edit" method="POST" enctype="multipart/form-data">

  <label class="textlabel" for="username"> Username:</label>
  <input class="textlabel" type="text" name="username" value="{{user.username}}" />

  <br />
  <label class="textlabel" for="email"> Email:</label>
  <input class="textlabel" type="text" name="email" value="{{user.email}}" />
  <br />

  <br />
  <p> would you like to eat? </p>

  <select id="foodPreferences" multiple>
    <option class="textlabel" label="omnivorous"> omnivorous</option>
    <option class="textlabel" label="vegetarian"> vegetarian</option>
    <option class="textlabel" label="vegan"> vegan</option>
    <option class="textlabel" label="drinks"> drinks</option>
    <option class="textlabel" label="mediterranean"> mediterranean</option>
    <option class="textlabel" label="african"> african</option>
    <option class="textlabel" label="no carbs"> no carbs</option>
    <option class="textlabel" label="gluten free"> gluten free</option>
    <option class="textlabel" label="pescatarian"> pescatarian</option>
    <option class="textlabel" label="sweets"> sweets</option>
    <option class="textlabel" label="latinoamerican"> latinoamerican</option>
    <option class="textlabel" label="asian"> asian</option>
    <!--<input type="text" name="instructions" value="{{user.foodPreferences}}" />-->

  </select>
  <br />

  <br>

  <label for="imageUrl" for="file"> 
    <input type="file" id="file" name="imageUrl" />
  </label>
  <br />
<br>


  <button class="confirmbuttonedit" type="submit"> Confirm</button>
</form>

<br />
<a href="/profile">Go back</a>


<button class="logoutbuttonedit" type="submit">
  <a href="/auth/logout">Log out</a>
</button>
