  <section>
         <div class="headerlayout">
            <a href="/homepage"><img class="imagelogoheader" src="/images/logofood.jpg" width="70px" height="70px"></a>
         </div>
      </section>

<section class="backgroundlogin" id="filterfoodPreferences">
        <form action="/search-results" method="GET">
            <label for="category"> 
                <select name="filter" id="category">
                    <option text="labelsearch" label="omnivorous" >  omnivorous </option>
                    <option label="vegetarian"> vegetarian</option>
                    <option label="vegan"> vegan</option>
                    <option label="drinks"> drinks</option>
                    <option label="mediterranean"> mediterranean</option>
                    <option label="african"> african</option>
                    <option label="no carbs"> no carbs</option>
                    <option label="gluten free"> gluten free</option>
                    <option label="pescatarian"> pescatarian</option>
                    <option label="sweets"> sweets</option>
                    <option label="latinoamerican"> latinoamerican</option>
                    <option label="asian"> asian</option>
                </select>
            </label>
            <br>
            <br>
            <button class="filterbutton" type="submit"> Search</button>
        </form>
</section>

 <footer>

            <a class="footerProfile1" href="/profile"> <button class="footerProfile1"> profile </button> </a>
            <br>
            <a class="footerSearch" href="/search"> <button class="footerSearch"> search </button> </a>
            
         </footer>
      </div>